.input {
    padding: 0.5lvw;
    border-radius: 8px;
    background: transparent;
    border: 3px solid #1A1C22;
    color: #1A1C22;
    font-size: 1.5lvw;
    font-weight: bold;
    cursor: pointer;
    height: 4.3lvw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;

    &::placeholder {
        color: #1A1C22;
        font-weight: bold;
        font-size: 1.5lvw;
    }

    &:hover {
        box-shadow: -3px 4px 0 2px #1A1C22;
    }

    &:active, &:focus {
        box-shadow: -3px 4px 0 2px #580EF6;
    }
}