.main-section {
  position: relative;
  height: 100lvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content-hello-wrapper {
    position: relative;

    .content-hello {
      will-change: opacity, text-shadow;
      color: #F7F7F7;
      font-family: "Bungee", sans-serif;
      font-size: max(10lvw, 70px);
      line-height: max(10lvw, 70px);
      text-shadow: max(0.21lvw, 4px) max(1lvw, 19px) max(1.46lvw, 28px) #1A1C22;
      cursor: none;
      margin: 0;
      transition: all 0.3s ease;

      &:hover {
        text-shadow: max(0.21lvw, 4px) max(1lvw, 19px) max(1.46lvw, 28px) #f7f7f781;
      }

      &:active {
        text-shadow: max(0.21lvw, 4px) max(1lvw, 19px) max(1.46lvw, 28px) #580EF6;
      }
    }
  }


  .content-title,
  .content-subtitle {
    will-change: opacity, display;
    display: none;
    opacity: 0;
  }

  .content-title {
    font-family: "Bungee Shade", sans-serif;
    font-size: max(10lvw, 70px);
    line-height: max(10lvw, 70px);
    margin: 0;
  }

  .content-subtitle {
    font-weight: bold;
    font-size: max(2.15lvw, 14px);
    margin: 0;
  }

  .webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100lvh;
  }
}