.button {
    padding: max(0.5lvw, 10px);
    border-radius: 8px;
    background: transparent;
    font-size: max(1.5lvw, 14px);
    font-weight: bold;
    cursor: none;
    min-height: max(4.3lvw, 52px);
    min-width: max(4.3lvw, 52px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &.dark {
        color: #1A1C22;
        border: 3px solid #1A1C22;
        background: #f7f7f7;

        &:hover {
            box-shadow: -3px 4px 0 2px #1A1C22;

        }

        &:active {
            box-shadow: -3px 4px 0 2px #580EF6;
        }
    }

    &.light {
        color: #f7f7f7;
        background: #1A1C22;
        border: 3px solid #f7f7f7;

        &:hover {
            box-shadow: -3px 4px 0 2px #f7f7f7;

        }

        &:active {
            box-shadow: -3px 4px 0 2px #580EF6;
        }
    }
}