.textarea {
    padding: max(0.5lvw, 10px);
    border-radius: max(0.416lvw, 8px);
    background: transparent;
    border: max(0.16lvw, 3px) solid #1A1C22;
    color: #1A1C22;
    font-size: max(1.5lvw, 14px);
    font-weight: bold;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;
    resize: none;

    &::placeholder {
        color: #1A1C22;
        font-weight: bold;
        font-size: max(1.5lvw, 14px);
    }

    &:hover {
        box-shadow: min(-0.16lvw, -3px) max(0.21lvw, 4px) 0 max(0.105lvw, 2px) #1A1C22;
    }

    &:active,
    &:focus {
        box-shadow: min(-0.16lvw, -3px) max(0.21lvw, 4px) 0 max(0.105lvw, 2px) #580EF6;
    }
}