.textarea {
    padding: max(0.5lvw, 10px);
    border-radius: 8px;
    background: transparent;
    border: 3px solid #1A1C22;
    color: #1A1C22;
    font-size: max(1.5lvw, 14px);
    font-weight: bold;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;
    resize: none;

    &::placeholder {
        color: #1A1C22;
        font-weight: bold;
        font-size: max(1.5lvw, 14px);
    }

    &:hover {
        box-shadow: -3px 4px 0 2px #1A1C22;
    }

    &:active, &:focus {
        box-shadow: -3px 4px 0 2px #580EF6;
    }
}