.experience-section {
  justify-content: space-evenly;
  font-size: max(2.12lvw, 28px);


  .experience-text-wrapper {
    background: #fff;
    border-radius: max(1.63lvw, 38px);
    padding: max(1.63lvw, 38px);
    display: flex;
    justify-content: space-between;
    will-change: opacity, transform;
    flex-direction: column;
    gap: 1.63lvw;
    align-items: center;

    p {
      margin: 0;
    }

    &_skills {
      display: flex;
      flex-wrap: wrap;
      gap: max(1.63lvw, 24px);
    }
  }


  .experience-image-banner {
    display: flex;
    align-items: center;
    gap: max(6.66lvw, 52px);
    position: relative;
    width: 100lvw;
    height: max(6.66lvw, 52px);
    will-change: opacity, transform;
  }

  .experience-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;

    p {

      margin: 0;
      padding: 0.586lvw 1.63lvw;
      border: max(0.16lvw, 3px) solid #1A1C22;
      border-radius: 2.63vw;
      font-weight: bold;
      height: max(4.3lvw, 52px);
    }

    img {
      width: max(4.3lvw, 52px);
      height: max(4.3lvw, 52px);
      object-fit: cover;
    }
  }

  .experience-image-wrapper.first {
    left: -100%;
    animation: 10s banner infinite linear;

    p:last-of-type {
      margin-right: 6.66lvw;
    }
  }

  .experience-image-wrapper.second {
    left: 0;
    animation: 10s banner infinite linear;

    p:last-of-type {
      margin-right: 6.66lvw;
    }
  }

  @keyframes banner {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }
}

@media screen and (max-width: 768px) {
  .experience-section {
    .experience-text-wrapper {
      flex-direction: column;
      border-radius: max(1.63lvw, 17px);
      padding: max(1.63lvw, 38px);
      border: max(0.16lvw, 3px) solid #fff;
      margin-bottom: max(1.63lvw, 38px);

      p {
        width: 100%;
        margin: 0;
        margin-bottom: max(1.63lvw, 38px);
      }

      &_skills {
        width: 100%;
      }
    }

    .experience-image-banner {
      .experience-image-wrapper {
        p {
          display: none;
        }

        img:last-of-type {
          margin-right: max(6.66lvw, 52px);
        }
      }
    }
  }
}