.experience-section {
  justify-content: space-evenly;
  font-size: 2.12lvw;


  .experience-text-wrapper {
    background: #F7F7F7;
    border-radius: 1.63lvw;
    padding: 1.63lvw;
    display: flex;
    justify-content: space-between;

    p {
      width: 35%;
      margin: 0;
    }

    &_skills {
      width: 63%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.63lvw;
    }
  }


  .experience-image-banner {
    display: flex;
    align-items: center;
    gap: 6.66lvw;
    position: relative;
    width: 100lvw;
  }

  .experience-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;

    p {

      margin: 0;
      padding: 0.586lvw 1.63lvw;
      border: 3px solid #1A1C22;
      border-radius: 2.63vw;
      font-weight: bold;
      min-height: 4.3lvw;
    }

    img {
      width: 4.3lvw;
      height: 4.3lvw;
      object-fit: cover;
    }
  }

  .experience-image-wrapper.first {
    left: -100%;
    animation: 10s banner infinite linear;

    p:last-of-type {
      margin-right: 6.66lvw;
    }
  }

  .experience-image-wrapper.second {
    left: 0;
    animation: 10s banner infinite linear;

    p:last-of-type {
      margin-right: 6.66lvw;
    }
  }

  @keyframes banner {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }
}