.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.33dvw 3.33dvw 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    display: none;
    z-index: 1;

    .logo {
        cursor: pointer;
        font-family: "Bungee Shade", sans-serif;
        font-size: 4.3dvw;
        line-height: 4.3dvw;
        margin: 0;
    }

    .header-actions {
        display: flex;
        align-items: center;

        .button:first-of-type {
            margin-right:40px;
        }
    }
}