.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.33lvw 3.33lvw 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    display: none;
    z-index: 3;

    .logo {
        cursor: none;
        font-family: "Bungee Shade", sans-serif;
        font-size: 4.3lvw;
        line-height: 4.3lvw;
        margin: 0;
    }

    .header-actions {
        display: flex;
        align-items: center;
    }
}