.about-section {
  &_card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.163lvw;

    &_item {
      background: #fff;
      border-radius: 1.63lvw;
      padding: 1.63lvw;
      height: 100%;
      border: 3px solid #1A1C22;

      h2 {
        margin: 0 0 15.2lvw 0;
        font-size: 4.4lvw;
      }

      p {
        margin: 0;
        font-weight: bold;
        font-size: 2.33lvw;
      }
    }
  }
}