.projects-section {

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.33lvw;
    width: 100%;
    max-height: 100%;

    .projects-item {
      position: relative;
      border-radius: max(0.83lvw, 8px);
      overflow: hidden;
      cursor: none;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 0;
        transition: all 0.3s ease;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      p {
        font-family: "Bungee", sans-serif;
        color: #F7F7F7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.35lvw;
        margin: 0;
        z-index: 1;
        transition: all 0.3s ease;
        text-shadow: min(-0.21lvw, -4px) max(0.21lvw, 4px) 0 #1A1C22;
      }


      &:hover {
        p {
          opacity: 0;
        }

        img {
          filter: blur(0);
        }

        div {
          &::after {
            background: rgba(0, 0, 0, 0.0);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects-section {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
}