.footer-wrapper {
    background: #1A1C22;
    padding: 3.33dvw;
    color: #F7F7F7;
    font-size: 1.67dvw;
  
    .footer-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .footer-name {
        font-weight: bold;
        margin: 0;
      }
  
      .footer-nav {
        ul {
          display: flex;
          padding: 0;
          margin: 0;
          gap: 1.67dvw;
  
          li {
            list-style: none;
            cursor: pointer;
            transition: all 0.3s ease;
  
            &:hover {
              color: #580EF6;
            }
          }
        }
      }
    }
  
    .footer-copyright {
      margin: 8.4dvw 0 0 0;
    }
  }