.footer-wrapper {
    background: #1A1C22;
    padding: max(3.33lvw, 30px);
    color: #F7F7F7;
    font-size: max(1.67lvw, 14px);
  
    .footer-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .footer-name {
        font-weight: bold;
        margin: 0;
      }
  
      .footer-nav {
        ul {
          display: flex;
          padding: 0;
          margin: 0;
          gap: 1.67lvw;
  
          li {
            list-style: none;
            cursor: none;
            transition: all 0.3s ease;
  
            &:hover {
              color: #580EF6;
            }
          }
        }
      }
    }
  
    .footer-copyright {
      margin: 8.4lvw 0 0 0;
    }
  }

  @media screen and (max-width: 768px) {
    .footer-wrapper {
  
      .footer-header {
        flex-direction: column;
        gap: 8.4lvw;
  
        .footer-nav {
          ul {
            gap: 1.25rem;
          }
        }
      }
    }
    
  }