.contacts-section {
    .contacts-grid {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.33dvw;
      width: 100%;
      height: 100%;
  
      .contacts-image-wrapper,
      .contacts-form-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .contacts-image-wrapper {
        position: relative;
  
        .contacts-image {
          position: absolute;
          width: 26.65dvw;
          height: 26.65dvw;
          object-fit: cover;
          transform: translate(-50%, -50%);
        }
      }
  
      .contacts-form-wrapper {
        .contacts-form {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          border: 3px solid #1A1C22;
          border-radius: 1.16dvw;
          padding: 3.33dvw;
        }
      }
    }
  }