.contacts-section {
  .contacts-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.33lvw;
    width: 100%;
    height: 100%;

    .contacts-image-wrapper,
    .contacts-form-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contacts-image-wrapper {
      position: relative;

      div {
        width: 26.65lvw;
        height: 26.65lvw;
        transform: translate(-50%, -50%);
        position: absolute;
        will-change: top, left;
      }

      .contacts-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        will-change: clip-path;
      }
    }

    .contacts-form-wrapper {
      will-change: transform, opacity;

      .contacts-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: max(0.16lvw, 3px) solid #1A1C22;
        border-radius: max(1.16lvw, 17px);
        padding: 3.33lvw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts-section {
    min-height: 80lvh;
    height: 80lvh;

    .contacts-grid {
      .contacts-image-wrapper {
        display: none;
      }
    }
  }

}